<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Base Meta --}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- Mailchimp --}}
    <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        #mc_embed_signup{background:#000; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
    </style>

    {{!-- Fonts --}}
    <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    {{!-- Main stylesheet. This should come after other styles so it takes precedence. --}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />

    {{!-- jQuery + Fitvids, which makes all video embeds responsive --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    {{!--<script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>--}}
    <script type="text/javascript" src="{{asset "ghostHunter/dist/jquery.ghosthunter.js"}}"></script>

    {{!-- This tag outputs SEO meta+structured data and other important settings --}}
    {{ghost_head}}
</head>

<body class="{{body_class}}">
    <div class="site-wrapper">
        {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
        {{{body}}}
        {{!-- The footer at the very bottom of the screen --}}
        {{>footer}}
    </div>

    <script>
        var images = document.querySelectorAll('.kg-gallery-image img');
        images.forEach(function (image) {
            var container = image.closest('.kg-gallery-image');
            var width = image.attributes.width.value;
            var height = image.attributes.height.value;
            var ratio = width / height;
            container.style.flex = ratio + ' 1 0%';
        });
    </script>

    {{!-- For pagination infinite scroll --}}
    {{#if pagination.pages}}
        <script src="{{asset "built/infinitescroll.js"}}"></script>
    {{/if}}

    {{!-- To populate the dropdown menu with tags --}}
    <script>
        $.get(ghost.url.api('tags')).done(function (data) {
            $(data.tags).each(function(i, tag) {
                var item = "<li><a href={{@site.url}}/tag/" + tag.slug + ">" + tag.name + "</a></li>";
                $('div.dropdown-content').append(item);
                $('.sidenav-content').append(item);
            })
        });
    </script>

    {{!-- For ghostHunter search --}}
    <script>
        $("#search-field").ghostHunter({
            results: "#results",
            onKeyUp: true, 
            // info_template: "<p class='gh-num-results'>Search Results:</p>",
            displaySearchInfo: false,
            result_template: "<a id='gh-\{\{ref}}' class='gh-search-item' href='\{\{link\}\}'><i class='far fa-dot-circle'></i>\{\{title\}\}</a>"
            // zeroResultsInfo: true
        });
    </script>

    {{!-- The #block helper will pull in data from the #contentFor other template files. In this case, there's some JavaScript which we only want to use in post.hbs, but it needs to be included down here, after jQuery has already loaded. --}}
    {{{block "scripts"}}}

    {{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag --}}
    {{ghost_foot}}

</body>
</html>

